<section  class="comment">
  <div class="comment-title">
      <div class="comment-title__img comment-title__img--1"></div>
      <span class="comment-title__user">{{data.comments[0].user.username}}</span>
      <span class="comment-title__time">{{data.comments[0].createdAt}}</span>
  </div>
  <p class="comment__description">{{data.comments[0].content}}</p>
  <div class="comment-pie">
    <div class="comment-pie__cuenta">
        <span class="comment-pie__cuenta--plus">+</span>
        <span class="comment-pie__cuenta--value">{{data.comments[0].score}}</span>
        <span class="comment-pie__cuenta--minus">-</span>
    </div>
    <p class="comment-pie__reply">Reply</p>
  </div>
</section>
<section  class="comment">
  <div class="comment-title">
      <div class="comment-title__img comment-title__img--2"></div>
      <span class="comment-title__user">{{data.comments[1].user.username}}</span>
      <span class="comment-title__time">{{data.comments[1].createdAt}}</span>
  </div>
  <p class="comment__description">{{data.comments[1].content}}</p>
  <div class="comment-pie">
    <div class="comment-pie__cuenta">
        <span class="comment-pie__cuenta--plus">+</span>
        <span class="comment-pie__cuenta--value">{{data.comments[1].score}}</span>
        <span class="comment-pie__cuenta--minus">-</span>
    </div>
    <p class="comment-pie__reply">Reply</p>
  </div>
</section>
<section class="reply">
  <section  class="comment">
    <div class="comment-title">
        <div class="comment-title__img comment-title__img--3"></div>
        <span class="comment-title__user">{{data.comments[1].replies[0].user.username}}</span>
        <span class="comment-title__time">{{data.comments[1].replies[0].createdAt}}</span>
    </div>
    <p class="comment__description"><span class="replyingTo">@{{data.comments[1].replies[0].replyingTo}}&nbsp;</span>{{data.comments[1].replies[0].content}}</p>
    <div class="comment-pie">
      <div class="comment-pie__cuenta">
          <span class="comment-pie__cuenta--plus">+</span>
          <span class="comment-pie__cuenta--value">{{data.comments[1].replies[0].score}}</span>
          <span class="comment-pie__cuenta--minus">-</span>
      </div>
      <p class="comment-pie__reply">Reply</p>
    </div>
  </section>
  <section  class="comment">
    <div class="comment-title">
        <div class="comment-title__img comment-title__img--4"></div>
        <span class="comment-title__user">{{data.comments[1].replies[1].user.username}}</span>
        <span class="comment-title__label">you</span>
        <span class="comment-title__time">{{data.comments[1].replies[1].createdAt}}</span>
    </div>
    <p class="comment__description"><span class="replyingTo">@{{data.comments[1].replies[1].replyingTo}}&nbsp;</span>{{data.comments[1].replies[1].content}}</p>
    <div class="comment-pie">
      <div class="comment-pie__cuenta">
          <span class="comment-pie__cuenta--plus">+</span>
          <span class="comment-pie__cuenta--value">{{data.comments[1].replies[1].score}}</span>
          <span class="comment-pie__cuenta--minus">-</span>
      </div>
      <div class="comment-pie__you">
        <p class="comment-pie__reply--delete"  (click)="onDelete($event)">Delete</p>
        <p class="comment-pie__reply--edit">Edit</p>
      </div>

    </div>
  </section>
</section>
<section class="comment comment-add">
  <textarea class="comment-add__textarea" name="" id=""  placeholder="Add  a comment..."></textarea>
  <div class="comment-add__details">
    <div class="comment-add__details--img"></div>
    <form class="comment-add__details--form">
      <button name="send" id="send">send</button>
    </form>
  </div>
</section>
<section class="modal" *ngIf="modal">

</section>
