

<section class="cards" *ngFor="let cardComment of data.comments; index as i">
  <section class="comment comment-respose" *ngIf="cardComment.user.username!==curentUserName;else sameuser">
  <div class="comment-desktop__view">
    <div class="comment-desktop-view-title">
        <div class="comment-title">
          <div class="comment-title__img"
            [ngStyle]="
              {
                'background':'url(' + cardComment.user.image.png + ') no-repeat center',
                'background-size': '100%',
              }
            ">
          </div>
          <span class="comment-title__user">{{cardComment.user.username}}</span>
          <span class="comment-title__time">{{cardComment.createdAt}}</span>
        </div>
        <p class="comment-pie__reply comment-pie__reply--desktop" (click)="reply(cardComment.id,cardComment.user.username)">Reply</p>
    </div>
    <p class="comment__description">{{cardComment.content}}</p>
  </div>
  <div class="comment-pie">
    <div class="comment-pie__cuenta">
        <span class="comment-pie__cuenta--plus">+</span>
        <span class="comment-pie__cuenta--value">{{cardComment.score}}</span>
        <span class="comment-pie__cuenta--minus">-</span>
    </div>
    <p class="comment-pie__reply comment-pie__reply--hide" (click)="reply(cardComment.id,cardComment.user.username)">Reply</p>
  </div>
  </section>
  <ng-template #sameuser>
    <section  class="comment comment-respose" [class.hide]="!edit" >
      <div class="comment-desktop__view">
        <div class="comment-desktop-view-title">
          <div class="comment-title">
              <div class="comment-title__img"
              [style.background-image]="'url(' + imagenCurentUser + ')'"
              ></div>
              <span class="comment-title__user">{{cardComment.user.username}}</span>
              <span class="comment-title__label">you</span>
              <span class="comment-title__time">{{cardComment.createdAt}}</span>
            </div>
            <div class="comment-pie__you comment-pie__you--options">
              <p class="comment-pie__reply--delete"  (click)="onDelete(i)">Delete</p>
              <p class="comment-pie__reply--edit" (click)="onEdit(cardComment.content)">Edit</p>
            </div>
        </div>
        <p class="comment__description"><span class="replyingTo">{{cardComment.replyingTo}}&nbsp;</span>{{cardComment.content}}</p>
      </div>
      <div class="comment-pie">
        <div class="comment-pie__cuenta">
            <span class="comment-pie__cuenta--plus">+</span>
            <span class="comment-pie__cuenta--value">{{cardComment.score}}</span>
            <span class="comment-pie__cuenta--minus">-</span>
        </div>
        <div class="comment-pie__you comment-pie__you--hide">
          <p class="comment-pie__reply--delete"  (click)="onDelete(i)">Delete</p>
          <p class="comment-pie__reply--edit" (click)="onEdit(cardComment.content)">Edit</p>
        </div>

      </div>
    </section>
    <section  class="comment comment-respose comment-you-edit" [class.hide]="edit">
      <div class="comment-desktop__view">
        <div class="comment-desktop-view-title">
          <div class="comment-title">
              <div class="comment-title__img"  [style.background-image]="'url(' + imagenCurentUser + ')'"></div>
              <span class="comment-title__user">{{cardComment.user.username}}</span>
              <span class="comment-title__label">you</span>
              <span class="comment-title__time">{{cardComment.createdAt}}</span>

            </div>
            <div class="comment-pie__you comment-pie__you--options">
              <p class="comment-pie__reply--delete"  (click)="onDelete(i)">Delete</p>
              <p class="comment-pie__reply--edit">Edit</p>
            </div>
            <form  class="comment-update__details--form comment-update__details--mobile">
              <button name="udpdate" id="udpdate" (click)="onUpdate(i)">update</button>
            </form>
        </div>
        <textarea class="comment-add__textarea comment-add__textarea--edit" name="" id="" [(ngModel)]="cardCommentContent"></textarea>
        <form  class="comment-update__details--form comment-update__details--desktop">
          <button name="udpdate" id="udpdate" (click)="onUpdate(i)">update</button>
        </form>
      </div>
      <div class="comment-pie">
        <div class="comment-pie__cuenta">
            <span class="comment-pie__cuenta--plus">+</span>
            <span class="comment-pie__cuenta--value">{{cardComment.score}}</span>
            <span class="comment-pie__cuenta--minus">-</span>
        </div>
        <div class="comment-pie__you comment-pie__you--hide">
          <p class="comment-pie__reply--delete"  (click)="onDelete(i)">Delete</p>
          <p class="comment-pie__reply--edit">Edit</p>
        </div>

      </div>
    </section>
  </ng-template>

  <section class="comment comment-add  comment-add-reply comment-add-reply__N2 hide"
    [ngClass]="{
      'show':cardComment.id===idUser && replyState,
    }"
  >
    <textarea class="comment-add__textarea" name="" id="" [(ngModel)]="replyComment"  placeholder="Add  a comment..."></textarea>
      <div class="comment-add__details--img"
      [ngStyle]="{
        'background':'url(' + imagenCurentUser + ') no-repeat center',
        'background-size':'100%',
      }"
      ></div>
      <form class="comment-add__details--form">
        <button name="send" id="send" (click)="addReplyComment(i)">Reply</button>
      </form>
  </section>

  <section class="reply" >
    <section  class="comment comment-respose" *ngFor="let level of cardComment.replies">
      <div class="comment-desktop__view">
        <div class="comment-desktop-view-title">
          <div class="comment-title">
              <div class="comment-title__img"  [ngStyle]="
              {
                'background':'url(' + level.user.image.png + ') no-repeat center',
                'background-size': '100%',
              }
            ">
            </div>
              <span class="comment-title__user" *ngIf="level!==undefined">{{level.user.username}}</span>
              <span class="comment-title__time" *ngIf="level!==undefined">{{level.createdAt}}</span>
          </div>
          <p class="comment-pie__reply comment-pie__reply--desktop">Reply</p>
        </div>
        <p *ngIf="level!==undefined" class="comment__description"><span class="replyingTo">{{level.replyingTo}}&nbsp;</span>{{level.content}}</p>
      </div>
      <div class="comment-pie">
        <div class="comment-pie__cuenta">
            <span class="comment-pie__cuenta--plus">+</span>
            <span class="comment-pie__cuenta--value" *ngIf="level!==undefined">{{level.score}}</span>
            <span class="comment-pie__cuenta--minus">-</span>
        </div>
        <p class="comment-pie__reply comment-pie__reply--hide">Reply</p>
      </div>
    </section>






  </section>
</section>


<section class="comment comment-add">
  <textarea class="comment-add__textarea" name="addComment" [(ngModel)]="contentAddComment"  placeholder="Add  a comment..."></textarea>
    <div class="comment-add__details--img" [style.background-image]="'url(' + imagenCurentUser + ')'"></div>
    <form class="comment-add__details--form">
      <button name="add" id="add" (click)="addComment()">send</button>
    </form>
</section>

<section class="modal" [class.showModal]="modal">
  <div class="modal-body">
    <h2 class="modal-body__title">Delete comment</h2>
    <p class="modal-body-form__description">
      Are you sure you want to delete this comment? this will
      remove the comment and  can´t  be undone
    </p>
    <form class="modal-body-form">
      <button class="modal-body-form__cancel" name="cancel" (click)="onCloseModal()">No, Cancel</button>
      <button class="modal-body-form__accept" name="yes" (click)="onDeleteComment()">Yes, Delete</button>
    </form>
  </div>
</section>








<!-- duplicado 2do item -->
<!-- <section  class="comment comment-respose">
  <div class="comment-desktop__view">
    <div class="comment-desktop-view-title">
      <div class="comment-title">
          <div class="comment-title__img comment-title__img--2"></div>
          <span class="comment-title__user">{{data.comments[1].user.username}}</span>
          <span class="comment-title__time">{{data.comments[1].createdAt}}</span>
      </div>
      <p class="comment-pie__reply comment-pie__reply--desktop">Reply</p>
    </div>
    <p class="comment__description">{{data.comments[1].content}}</p>
  </div>
  <div class="comment-pie">
    <div class="comment-pie__cuenta">
        <span class="comment-pie__cuenta--plus">+</span>
        <span class="comment-pie__cuenta--value">{{data.comments[1].score}}</span>
        <span class="comment-pie__cuenta--minus">-</span>
    </div>
    <p class="comment-pie__reply comment-pie__reply--hide">Reply</p>
  </div>
</section> -->

<!-- Comentario replica es es la replica -->
<!-- <section class="comment comment-add  comment-add-reply">
  <textarea class="comment-add__textarea" name="" id=""  placeholder="Add  a comment..."></textarea>
    <div class="comment-add__details--img"></div>
    <form class="comment-add__details--form">
      <button name="send" id="send">Reply</button>
    </form>
</section> -->
