.comment{
  width: 100%;
  background-color: var(--White);
  border-radius: 10px;
  padding:15px 20px;
  min-height: 180px;
}

.reply {
  padding-left: 15px;
  border-left: 1px solid var(--color-Grayish-Blue);
  // margin-top: 15px;
  // margin-bottom: 15px;
  min-height: 0;
}

.cards:nth-child(n+2)>.comment{
  margin-top: 25px;
}

.reply .comment{
    margin-top: 15px;
}


.comment-desktop__view{
  width: 100%;
}

.comment-title{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-title *{
  padding: 5px;
}

.comment-title__user{
  font-size: 1.4rem;
  font-weight: 700;
}

.comment-title__label{
  background-color: var(--color-Moderate-blue);
  color: var(--White);
  font-size: 1rem;
}

.comment-title__time{
  font-size: 1.4rem;
  color: var(--color-Grayish-Blue);
}

.comment-pie__reply--desktop{
  display: none;
}

.comment-title__img{
  width: 60px;
  height: 60px;

  border-radius: 50%;

}



.comment__description{
  font-size: 1.6rem;
  color: var(--color-Grayish-Blue);
  line-height: 1.2;
  padding-top: 15px;
  padding-bottom: 15px;
}
.replyingTo{
  color:var(--color-Moderate-blue);
  font-weight: 700;
}


.comment-pie{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comment-pie__cuenta{
  background-color: var( --color-Light-gray);
  border-radius: 5px;
  font-size: 1.6rem;
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 12px 10px;
}

.comment-pie__cuenta--value{
  color:var(--color-Moderate-blue);
  font-weight: 700;
}

.comment-pie__cuenta--plus,
.comment-pie__cuenta--minus{
  color: var(--color-Grayish-Blue) ;
  cursor: pointer;
}

.comment-pie__reply{
  font-size: 1.8rem;
  font-weight: 700;
  color:var(--color-Moderate-blue);
  position: relative;
  cursor: pointer;
}

.comment-pie__reply::before{
  content: url('../assets/images/icon-reply.svg');
  position: absolute;
  top: 0;
  left: -20px;
}

.comment-pie__reply--delete{
  font-size: 1.6rem;
  font-weight: 700;
  color:var(--color-Soft-Red);
  position: relative;
  cursor: pointer;
}

.comment-pie__reply--delete::before{
  content: url('../assets/images/icon-delete.svg');
  position: absolute;
  top: 0;
  left: -15px;
}

.comment-pie__reply--edit{
  font-size: 1.6rem;
  font-weight: 700;
  color:var(--color-Moderate-blue);
  position: relative;
  cursor: pointer;
}

.comment-pie__reply--edit::before{
  content: url('../assets/images/icon-edit.svg');
  position: absolute;
  top: 0;
  left: -15px;
}

.comment-pie__you{
  display: flex;
  flex-direction: column-reverse;
  align-items:flex-end;
  justify-content: space-between;
  min-width: 100px;
}

.comment-pie__you--options{
  display: none;
}

.comment-add{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin-top: 25px;
}


.comment + .comment-add-reply{
  margin-top: 10px;
}

.comment + .comment-add-reply__N2{
  // grid-template-columns: auto 60% auto;
  grid-template-columns: auto;
}

.hide{
  display: none;
}

.show{
  display: grid;
}

.show-block{
  display: block;
}


.comment-respose.hide {
  display: none;
}

.comment-add__textarea{
  width: 100%;
  min-height: 150px;
  border-radius: 10px;
  border: 1px solid var(--color-Light-gray);
  resize: none;
  padding: 10px 15px;
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  grid-column: 1/3;
  grid-row:1/2;
}

.comment-add__textarea--edit:focus{
  outline: none;
  border: 1px solid var(--color-Grayish-Blue);
}

.comment-add__textarea--edit{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// .comment-add__details{
//   margin-top: 10px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.comment-add__details--img{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  //background: url('../assets/images/avatars/image-juliusomo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
  grid-row:2/3;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment-add__details--form{
  min-width: 80px;
  grid-column: 2/3;
  grid-row:2/3;
  justify-self: end;
  align-self: center;
}

.comment-add__details--form button{
  width: 100%;
  background-color: var(--color-Moderate-blue);
  color: var(--White);
  padding: 10px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
}


.comment-add__details--form button:hover{
  cursor: pointer;
}

.comment-update__details--form{
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment-update__details--form button{
  background-color: var(--color-Moderate-blue);
  color: var(--White);
  padding: 10px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.comment-update__details--desktop{
  display: none;
}
.comment-update__details--mobile{
  display: block;
}

.comment-desktop-view-title{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

//Modal
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:rgba($color:#000, $alpha:0.5) ;
  z-index: 1;
  display: none;
  place-items: center;
  transition: all 1s ease;

}

.modal-body{
  background-color: var(--White);
  padding: 20px;
  width: 90%;
  border-radius: 10px;
  animation-name:modalDelete;
  animation-duration: 1.5s;
}

.modal-body__title{
  font-size: 1.8rem;
}

.modal-body-form__description{
  font-size: 1.4rem;
  color: var(--color-Grayish-Blue);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  line-height: 1.5;
}


.modal-body-form__cancel,
.modal-body-form__accept
{
  padding: 10px 15px;
  color: var(--White);
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

}
.modal-body-form{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.modal-body-form__cancel{
  background-color: var(--color-Grayish-Blue);
}


.modal-body-form__accept{
  background-color: var(--color-Soft-Red);
}

.modal-body-form__cancel,
.modal-body-form__accept{
  cursor: pointer;
}


.showModal{
  display: grid;
  opacity: 1;
}

.body-overflow {
  overflow: hidden;
}



@keyframes modalDelete{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}



@media only screen and (min-width:320px){
  .comment-pie__cuenta{
    width: 100px;
  }
  .comment-pie__you{
    min-width: 110px;
    flex-direction: row;
  }
}

@media only screen and (min-width:480px){
  .reply{
    margin-left: 50px;
    padding-left:50px ;
  }
}

@media only screen and (min-width:768px){

  .comment-respose{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 2rem;
  }

  .comment-pie__reply--hide{
    display: none;
  }

  .comment-pie__cuenta{
    flex-direction: column;
    width: 40px;
    align-items: center;
  }

  .comment-desktop-view-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .comment-pie__reply--desktop{
    display: block;
  }

  .comment-pie__you--hide{
    display: none;
  }

  .comment-pie__you--options{
    display: flex;
  }

  .comment-add{
    grid-template-columns: auto 70% auto;
    grid-template-rows: auto;
  }

  .comment-add__textarea{
    grid-column: 2/3;
    grid-row: 1/1;
    justify-self: center;

  }

  .comment + .comment-add-reply__N2{
    grid-template-columns: auto 70% auto;
    grid-template-rows: auto;
  }

  .comment-add__details--img{
    grid-column: 1/2;
    grid-row: 1/1;
    margin-top: 0;
    padding-right: 0;
  }

  .comment-add__details--form{
    grid-column: 3/4;
    grid-row: 1/1;
    align-self: self-start;
  }

  .modal-body{
    width: 40%;
  }

  .comment-update__details--desktop{
    display: flex;
    justify-content: end;

  }

  .comment-update__details--mobile{
    display: none;
  }

}


@media only screen and (min-width:992px){
  .modal-body{
    width: 30%;
  }

}

